body, html {
	font-family: 'Roboto', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #666;
	font-weight: 300;
	width: 100% !important;
	height: 100% !important;
}
.wrapper {
	overflow: hidden;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 42px;
	color: #444;
}
h3, h4 {
	font-size: 22px;
	font-weight: 400;
	font-weight: 300;
	color: #444;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 16px;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #0ba2db;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 3px;
	width: 100px;
	text-align: center;
	position: relative;
	background: #8181F7;
	margin: 0 auto;
	margin-bottom: 10px;
	border: 0;
}
/* navbar-toggleigation */
#page-top {
	overflow: hidden;
}
#menu {
	padding: 20px;
	top: 0;
	transition: all 1.0s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-size: 20px;
	color: #444;
	font-weight: 500;
	text-transform: uppercase;
}
#menu a.navbar-brand i.fa {
	color: #0ba2db;
	vertical-align: top;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #444;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #0ba2db;
}
.on {
	background-color: #f6f6f6 !important;
	border-bottom: 1px solid #ddd !important;
	padding: 10px 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #0ba2db !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #0ba2db;
	border-color: #0ba2db;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	margin-bottom: 0px;
}
.section-title p {
	font-size: 18px;
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: #0ba2db;
	border: 0;
	padding: 14px 0;
	margin: 0;
	font-size: 16px;
	border-radius: 2px;
	margin-top: 20px;
	transition: all 0.3s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: #fff;
	background-color: #444;
}


.intro {
 height: 100vh;
 padding: 0;
 margin: 0;
 text-align: center;
}
.intro h1 {
	margin: 0;
	padding: 25% 8px 0;
}
.intro::before{
 background: url("../back/1.jpg");
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 position: fixed;
 top: 0;
 left: 0;
 width: 99%;
 height: 100%;
 padding: 0;
 margin: 0;
 content: "";
 z-index: -10;
}

@media screen and (min-width: 940px) {
 /*980px以上用（PC用）の記述 */
	.intro {
	 background: url("../back/1.jpg") no-repeat fixed center center /cover;
	 padding: 0;
	 margin: 0;
	 height: 100%;
	}
	.intro h1 {
		margin: 0;
		padding: 10% 10px 0;
	}
}

.intro .overlay {
	background: rgba(255,255,255,0.2);
	height: 100vh;
	padding: 0;
	margin: 0;
	z-index: 50;
}
.intro h1 {
	color: white;
	-webkit-text-stroke: 1px #000;
	font-size: 74px;
	font-weight: 600;
	text-transform: uppercase;
}

.intro p {
	color: white;
	-webkit-text-stroke: 0.8px #000;
	font-size: 30px;
	font-weight: 600;
}
header .intro-text {
	text-align: center;
	display: flex;
  justify-content: center;
  align-items: center;
	padding: 25% 0;
}
/* About Section */
#about {
	padding: 100px 0;
	margin: 0;
}
.carousel {
	z-index: 5;
}
#about h3 {
	font-size: 22px;
	/*-webkit-text-stroke: 1px #000;*/
}
#about h4 {
	font-size: 25px
	color: white;
	-webkit-text-stroke: 0.7px #000;
	font-weight: 300;
	text-shadow:
								0 0 25px white,
								0 0 20px white,
								0 0 0.40px white;
}
#about .about-text {
	margin-left: 12px;
	margin-top: 20px;
}
#about img {
	display: inline-block;
	/*border-color: #0ba2db;*/
	/*border-radius: 20px;*/
	/*padding: 20px;*/
}
#about p {
	line-height: 24px;
	margin: 30px 0;
}
#schedule {
	padding: 80px 0;
	margin: 0;
}
#access {
	padding: 80px 0;
	margin: 0;
}
.map hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #00ff40;
	margin: 0 auto;
	margin-bottom: 5px;
	border: 0;
}
.map h3, h3>a {
	text-decoration: none;
	color: #40ff00;
	text-shadow: 1px 1px 3px #000;
}
#link {
	padding: 80px 0;
	margin: 0;
}
#more {
	padding: 80px 0;
	margin: 0;
}

.text-center {
	/*background: white;*/
	/*background-color: rgba(248, 248, 248, 0);*/
	/*background: rgba(255,255,255,0.5);*/
	width: 100%;
	padding: 0;
	margin: 0;

}
.contents {
	background: white;//rgba(255,255,255,0.7);
	width: 100%;
	padding: 0;
	margin: 0;
}

 /* bg-img parallax */
/*.bg-img1 {
 height: 70vh;
 padding: 0;
 margin: 0;
}
.bg-img1::before{
 background: url("../back/1.jpg");
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 position: fixed;
 top: 0;
 left: 0;
 width: 99%;
 height: 100%;
 padding: 0;
 margin: 0;
 content: "";
 z-index: -1;
}*/

/*.bg-img2 {
 height: 70vh;
 padding: 0;
 margin: 0;
}
.bg-img2::before{
 // background: url("../back/1.jpg");
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 position: fixed;
 top: 0;
 left: 0;
 width: 99%;
 height: 100%;
 padding: 0;
 margin: 0;
 content: "";
 z-index: -1;
}*/

@media screen and (min-width: 940px) {
 /*980px以上用（PC用）の記述 */
	.bg-img1 {
	 background: url("../back/2.jpg") no-repeat fixed center center /cover;
	 padding: 0;
	 margin: 0;
	}
	.bg-img2 {
	 background: url("../back/3.jpg") no-repeat fixed center center /cover;
	 padding: 0;
	 margin: 0;
	}
	.bg-img3 {
	 background: url("../back/4.jpg") no-repeat fixed center center /cover;
	 padding: 0;
	 margin: 0;
	}
	.bg-img4 {
	 background: url("../back/5.jpg") no-repeat fixed center center /cover;
	 padding: 0;
	 margin: 0;
	}
	.bg-img5 {
	 background: url("../back/6.jpg") no-repeat fixed center center /cover;
	 padding: 0;
	 margin: 0;
	}
	.bg-img6 {
	 background: url("../back/7.jpg") no-repeat fixed center center /cover;
	 padding: 0;
	 margin: 0;
	}
	.bg-img7 {
	 background: url("../back/8.jpg") no-repeat fixed center center /cover;
	 padding: 0;
	 margin: 0;
	}
}
.overlay {
	background: rgba(255,255,255,0.35);
	padding: 0;
	margin: 0;
	height: 70vh;
	z-index: 50px;
}

/* effect */
.effect1 h3 {
	/*height: 120px;*/
  /*padding: 20px;*/
  font-size: 24px;
  transition: .8s;
}
.effect1 p {
	margin: auto;
  transition: .8s;
  transition-delay: 0.8s;
}
/* Contact Section */
#contact {
	padding: 120px 0 60px 0;
	/*background: #F6F6F6;*/
	background: #e6e6e6;
	color: #888;
}
#contact form {
    padding: 30px 0;
    margin: 0;
}
/*textarea {
        margin-left: 11px;
}*/
#contact .text-danger {
	color: #cc0033;
	text-align: left;
}
#contact .help-block {
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	//padding: 6px 12px;
	padding-left: 5px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #444;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #999;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #777;
}
.form-control:-moz-placeholder {
color: #777;
}
.form-control::-moz-placeholder {
color: #777;
}
.form-control:-ms-input-placeholder {
color: #777;
}
#contact .social {
	margin-top: 80px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 26px;
	padding: 4px;
	color: #0ba2db;
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #444;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer Section*/
#footer {
	background: #e6e6e6;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 20px;

	/*color: #888;*/
	/*padding: 30px 0 25px 0;*/
	/*border: 1px solid #fff;*/
}
#footer container {
	background: #e6e6e6;
}
#footer p {
	font-size: 15px;
	text-align: center;
}
#footer a {
	color: #666;
}
#footer a:hover {
	color: #0ba2db;
}

@media (max-width: 1024px) {
	#about img {
		float: left;
		/*margin-bottom: 20px;*/
	}
}
/* Loading page */
.preloader{
	background-color:#FFFFFF;
	position:fixed;
	width:100%;
	height:100%;
	z-index:9999999;
	}

.pace{
	-webkit-pointer-events:none;
	pointer-events:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	user-select:none;
	z-index:9999999;
	position:fixed;
	margin:auto;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:2px;
	width:100%;
	background:#fff;
	}

.pace .pace-progress{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:width 1s ease-in-out 1s linear;
	-moz-transition:width 1s ease-in-out 1s linear;
	-ms-transition:width 1s ease-in-out 1s linear;
	-o-transition:width 1s ease-in-out 1s linear;
	transition:width 1s ease-in-out 1s linear;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	-o-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	max-width:100%;position:fixed;
	z-index:9999999;display:block;
	position:absolute;
	left:0px;
	top:0px;
	height:100%;
	background:#61b5f0;
	}

.pace.pace-inactive{display:none;}


/* Boucing Arrow Animation */

@keyframes arrowbounce {
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
}
@-moz-keyframes arrowbounce { /* Firefox */
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
}
@-webkit-keyframes arrowbounce { /* Safari and Chrome */
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
}
@-o-keyframes arrowbounce { /* Opera */
from {
-webkit-transform: translateY(0);
-moz-transform: translateY(0);
transform: translateY(0);
}
to {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
}
.scrollto, .scrollto:hover {
	margin:30px;
	display:block;
	color:#FFF;
	text-decoration:none;
	text-align: center;
	/*width:200px;*/
	/*margin:0 auto;*/
}
.scrollto--arrow {
	padding:10px;
	text-align: center;
	display: flex;
  justify-content: center;
  align-items: center;
}
.scrollto--arrow img {
	animation: arrowbounce 1s alternate infinite;
	-moz-animation: arrowbounce 1s alternate infinite; /* Firefox */
	-webkit-animation: arrowbounce 1s alternate infinite; /* Safari and Chrome */
	-o-animation: arrowbounce 1s alternate infinite; /* Opera */
}

/* member introduction section */
.img-contents {
	padding: 0;
	margin: 0;
	height: 100%;
}

.img-back {
	background: rgba(25, 255, 255, 0.1);
	padding: 20px;
	height: 100%;
}
.img-back h1 {
	font-size: 150px;
	font-weight: bold;
	padding: 0;
	margin:5px;
}


/* Slide in box */
#slide {
	font-size: 85%;
	position: fixed;
	width: 200px;
	height: 30px;
	bottom: 0;
	right: 0;
	color: #666;
	background: #fff;

	border-left: solid 1px #999;
	border-top: solid 1px #999;
	-webkit-border-top-left-radius: 2px;
	-moz-border-radius-topleft: 2px;

	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
}
#slide-in {
	padding: 5px 10px;
}
#slide p {
	margin-bottom: 0;
}
#slide a {
	text-decoration: none;
	cursor: pointer;
}
#slide h3 {
	margin-bottom: 10px;
}
#slide #open-btn {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background: url(img/close-btn.gif);
}

/*materialize css --parallax--*/
.parallax-container {
  height: 75vh;
}
